# Ignora pastas .idea em qualquer lugar do projeto (raiz ou subpastas)
**/.idea/
# Ignora a pasta target
**/target/
# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Conexão com o banco e outros
application.properties
